In [1]:
import numpy as np

In [7]:
import pandas as pd

In [9]:
from numpy.random import randn

In [10]:
# Index Levels
outside = ['G1','G1','G1','G2','G2','G2']
inside = [1,2,3,1,2,3]
hier_index = list(zip(outside,inside))
hier_index = pd.MultiIndex.from_tuples(hier_index)

In [11]:
outside

['G1', 'G1', 'G1', 'G2', 'G2', 'G2']

In [12]:
hier_index

MultiIndex([('G1', 1),
            ('G1', 2),
            ('G1', 3),
            ('G2', 1),
            ('G2', 2),
            ('G2', 3)],
           )

In [13]:
df = pd.DataFrame(randn(6,2),hier_index,['A','B'])

In [14]:
df

             A         B
G1 1  0.572287 -0.791246
   2 -0.264442 -2.591308
   3  1.359103  1.778797
G2 1 -0.880714  2.261005
   2 -0.554234 -1.264461
   3 -0.919998 -0.247577

In [15]:
df.loc['G1'].loc[1]

A    0.572287
B   -0.791246
Name: 1, dtype: float64

In [18]:
df.loc['G2'].loc[2]['B']

-1.264460680900517

In [21]:
df

             A         B
G1 1  0.572287 -0.791246
   2 -0.264442 -2.591308
   3  1.359103  1.778797
G2 1 -0.880714  2.261005
   2 -0.554234 -1.264461
   3 -0.919998 -0.247577

In [24]:
df.index.names = ['Groups','Num']

In [25]:
df

                   A         B
Groups Num
G1     1    0.572287 -0.791246
       2   -0.264442 -2.591308
       3    1.359103  1.778797
G2     1   -0.880714  2.261005
       2   -0.554234 -1.264461
       3   -0.919998 -0.247577

In [23]:
df.xs(1,level='Num')

               A         B
Groups
G1      0.572287 -0.791246
G2     -0.880714  2.261005